html, body {
    margin: 0;
}

.page {
    width: 100%;
    background-color: rgba(247, 247, 247, 0.918);
}

.home-content {
    max-width: 1200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 14px 0 0;
}
