:root {
    --limb-bk-color: #3d3d3d;
    --limb-topnav-color: white;
    --limb-footer-color: gray;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.hover-link a:hover {
    color:var(--link-text-hover-color);
}

.page {
    height: 100%;
    /* flex container */
    display: flex;
    flex-direction: column;
}

.limb-item {
    flex-shrink: 0;
    flex-basis: auto;
}

.inline-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    /* flex item */
    flex-grow: 1;
    flex-basis: 100%;

    /* flex container*/
    display: flex;
    flex-direction: column;
}


.content {
    /*lex-basis: 100%;*/
    
    display: flex;
    flex-direction: row;
}

.content-header,
.main-content,
.sidebar {
    flex-basis: auto;
}

.content-header {
    margin-top: 2rem;
}

.content-header * {
    margin: 0.5rem;
}

.content-header h2 {
    font-size: 2rem;
}
.content-padding {
    padding-left: 1rem;
}

.main-content {
    max-width: 800px;
    width: 100%;
    margin-right: auto;
    
    padding: 1rem;
}

.sidebar {
    margin-left: auto;
    margin-right: auto;
}

.sidebar a {
    text-decoration: none;
}

.header {
    background-color: var(--limb-bk-color);
}

.header a {
    text-decoration: none;
    color: var(--limb-topnav-color);
}

.header h1 {
    font-size: 3.5rem;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar-area {
    text-decoration: none;
    
    flex-grow: 1;
    flex-shrink: 0;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    flex-grow: 1;
    text-align: center;
}

.site-footer {
    background-color: var(--limb-bk-color);
    width: 100%;
    
    text-align: center;
    flex-basis: auto;
}
