.home-content {
    max-width: 1200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 25px 0 25px 0;
    overflow: hidden;
}

.main-content {
    background-color: cadetblue;
    padding: 20px;
    width: 60%;
    float: left;
}

/* table section */
.main-table {
    width: 100%;
}

.main-table th, .main-table td {
    text-align: left;
    padding: 9px;
}

.table-info {
    text-align: justify;
    font-size: 1px;
}

.table-info::after {
    content: '';
    display: inline-block;
    width: 100%;
    font-size: 0;
    height: 0;
    line-height: 0;

}

.paginate {
    display: inline-block;
    font-size: 17px;
    padding: 0 9px 0 9px;
}

.paginate.info {
    
}

.paginate.button {

}

/* sidebar section */
.sidebar {
    background-color: crimson;
    padding: 20px;
    width: 30%;
    float: left;
}
