# ignore every cache python generate
__pycache__/

# ignore sqlite data
db.sqlite3

# ignore django media file
media/*
! media/.gitkeep

# ignore auto generated static files
static/admin/*

# ignore python's virtualenv file
env/
venv/

# ignore makemigraiton generated migrate script
migrations/

# ignore environment variable
.env

# ignore vscode setting.json
.vscode/

# ignore coverage report file
.coverage

# ignore production setting
setting.yaml