<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8">
    <meta name='viewport' content="width=device-width, initial-scale=1.0">
    <!-- general css/js  -->
    <link rel="stylesheet" href="/static/home/css/base.css">
    <!-- icon & font -->

    <!-- Specific css -->
    {% block stylesheets %}{% endblock %}
    <title>
        Savagetime - {% block title %}{% endblock %}
    </title>
</head>
<body>
    <div class="page">
        <!-- top nav -->
        {% include 'includes/topnav.html'%}
        <div class="home-content">
            {% block content%} {% endblock %}
            {% include 'includes/sidebar.html' %}
        </div>
        <!-- footer -->
        {% include 'includes/footer.html'%}
    </div>
    <!-- Specific js -->
    {% block javascripts %} {% endblock javascripts %}
</body>
</html>