<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
    </head>
    <body>
        <div class="page">
            <div class="topnav">
                <h1>
                    <a href="">Savagetime</a>
                </h1>
                <div class="topnav-right">
                    <a href="">link1</a>
                    <a href="">link2</a>
                </div>
            </div>
            <div class="content">
                <div class="maincontent">

                </div>
                <aside class="guide">
                    <section>
                        <form action="/search" method="GET">
                            <input type="search" name="s">
                            <input type="submit" value="search">
                        </form>
                    </section>
                    <section>recent update</section>
                    <section>recent list</section>
                </aside>
            </div>
        </div>
    </body>
</html>