{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/home/css/series.css' %}">
    </head>
    <body>
        <div class="page">
            <div class="topnav">
                <h1>
                    <a href="">Savagetime</a>
                </h1>
                <div class="topnav-right">
                    <a href="">link1</a>
                    <a href="">link2</a>
                </div>
            </div>
            <div class="content">
                <header class="category-title">
                    <h1>category name</h1>
                </header>
                <div class="maincontent">
                    <div class="ep-list">
                        <main>
                            <article>
                                <header>
                                    <h2>ep1</h2>
                                    <div>update date</div>
                                </header>
                                <div>
                                    <video width="640" height="360" controls>
                                        <source src="/media/123.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </article>
                            <article>
                                <header>
                                    <h2>ep1</h2>
                                    <div>update date</div>
                                </header>
                                <div>
                                    <video width="640" height="360" controls>
                                        <source src="/media/123.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </article>
                        </main>
                    </div>
                </div>
                <aside class="guide">
                    <section>
                        <form action="/search" method="GET">
                            <input type="search" name="s">
                            <input type="submit" value="search">
                        </form>
                    </section>
                    <section>recent update</section>
                    <section>recent list</section>
                </aside>
            </div>

            <footer class="site-footer">
                <p>@savagetime</p>
            </footer>
        </div>
    </body>
</html>