{% extends "layouts/base.html" %}
{% block title %} home page {% endblock title %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static '/home/css/home.css' %}">
{% endblock %}

{% block content-head %}
<head><h2>動畫列表</h2></head>
<p>根據更新時間排序</p>
<input type="text" name="" id="table-filter">
{% endblock content-head %}

{% block content %}
<div class="table-container">
    <ul class="main-table" id="main-table">
        <li class="table-header">
            <div class="col1 title hover-link">
                <p>Lorem.</p>
            </div>
            <div class="col2 attr">
                <p>Lorem.</p>
            </div>
            <div class="col3 attr">
                <p>Lorem.</p>
            </div>
            <div class="col4 attr">
                <p>Lorem.</p>
            </div>
            <div class="col5 attr">
                <p>Lorem.</p>
            </div>
        </li>
        <li class="table-row">
            <div class="col1 title hover-link"><a href="">Lorem, ipsum dolor.</a></div>
            <div class="col2 attr">
                <p>Lorem.</p>
            </div>
            <div class="col3 attr">
                <p>Lorem.</p>
            </div>
            <div class="col4 attr">
                <p>Lorem.</p>
            </div>
            <div class="col5 attr">
                <p>Lorem.</p>
            </div>
        </li>
        <li class="table-row">
            <div class="col1 title hover-link"><a href="">Fugit, eveniet autem!</a></div>
            <div class="col2 attr">
                <p>Ipsum?</p>
            </div>
            <div class="col3 attr">
                <p>Illo!</p>
            </div>
            <div class="col4 attr">
                <p>Consectetur?</p>
            </div>
            <div class="col5 attr">
                <p>Voluptates!</p>
            </div>
        </li>
        <li class="table-row">
            <div class="col1 title hover-link"><a href="">Exercitationem, eos hic.</a></div>
            <div class="col2 attr">
                <p>Quam.</p>
            </div>
            <div class="col3 attr">
                <p>Esse.</p>
            </div>
            <div class="col4 attr">
                <p>Tempora!</p>
            </div>
            <div class="col5 attr">
                <p>Quos!</p>
            </div>
        </li>
        <li class="table-row">
            <div class="col1 title hover-link"><a href="">Distinctio, veniam dolorem!</a></div>
            <div class="col2 attr">
                <p>Fugiat?</p>
            </div>
            <div class="col3 attr">
                <p>Maiores?</p>
            </div>
            <div class="col4 attr">
                <p>Illum.</p>
            </div>
            <div class="col5 attr">
                <p>Eius.</p>
            </div>
        </li>
        <li class="table-row">
            <div class="col1 title hover-link"><a href="">Qui, repellendus sunt!</a></div>
            <div class="col2 attr">
                <p>Vitae.</p>
            </div>
            <div class="col3 attr">
                <p>Incidunt.</p>
            </div>
            <div class="col4 attr">
                <p>Dolor.</p>
            </div>
            <div class="col5 attr">
                <p>Saepe.</p>
            </div>
        </li>
        <li class="table-row">
            <div class="col1 title hover-link"><a href="">Iusto, aut nam.</a></div>
            <div class="col2 attr">
                <p>Minima!</p>
            </div>
            <div class="col3 attr">
                <p>Sunt?</p>
            </div>
            <div class="col4 attr">
                <p>Facilis.</p>
            </div>
            <div class="col5 attr">
                <p>Dolorum.</p>
            </div>
        </li>
        <li class="table-row">
            <div class="col1 title hover-link"><a href="">Numquam, cupiditate rem.</a></div>
            <div class="col2 attr">
                <p>Assumenda.</p>
            </div>
            <div class="col3 attr">
                <p>Voluptates!</p>
            </div>
            <div class="col4 attr">
                <p>Sit?</p>
            </div>
            <div class="col5 attr">
                <p>Quidem.</p>
            </div>
        </li>
        <li class="table-row">
            <div class="col1 title hover-link"><a href="">Molestias, officiis aut!</a></div>
            <div class="col2 attr">
                <p>Provident.</p>
            </div>
            <div class="col3 attr">
                <p>Velit.</p>
            </div>
            <div class="col4 attr">
                <p>Cumque?</p>
            </div>
            <div class="col5 attr">
                <p>Nisi.</p>
            </div>
        </li>
        <li class="table-row">
            <div class="col1 title hover-link"><a href="">Laborum, praesentium quas.</a></div>
            <div class="col2 attr">
                <p>Tempora.</p>
            </div>
            <div class="col3 attr">
                <p>Corporis.</p>
            </div>
            <div class="col4 attr">
                <p>Molestiae.</p>
            </div>
            <div class="col5 attr">
                <p>Adipisci?</p>
            </div>
        </li>
        <li class="table-row">
            <div class="col1 title hover-link"><a href="">Quibusdam, eos modi.</a></div>
            <div class="col2 attr">
                <p>Atque.</p>
            </div>
            <div class="col3 attr">
                <p>Voluptas.</p>
            </div>
            <div class="col4 attr">
                <p>Saepe.</p>
            </div>
            <div class="col5 attr">
                <p>Beatae.</p>
            </div>
        </li>
        <li class="table-row">
            <div class="col1 title hover-link"><a href="">Mollitia, voluptates animi.</a></div>
            <div class="col2 attr">
                <p>Itaque.</p>
            </div>
            <div class="col3 attr">
                <p>Temporibus.</p>
            </div>
            <div class="col4 attr">
                <p>Non?</p>
            </div>
            <div class="col5 attr">
                <p>Aut.</p>
            </div>
        </li>
        <li class="table-row">
            <div class="col1 title hover-link"><a href="">Fuga, saepe deleniti.</a></div>
            <div class="col2 attr">
                <p>Blanditiis?</p>
            </div>
            <div class="col3 attr">
                <p>Velit.</p>
            </div>
            <div class="col4 attr">
                <p>Modi.</p>
            </div>
            <div class="col5 attr">
                <p>Saepe.</p>
            </div>
        </li>
        <li class="table-row">
            <div class="col1 title hover-link"><a href="">Maxime, eligendi necessitatibus.</a></div>
            <div class="col2 attr">
                <p>Molestiae!</p>
            </div>
            <div class="col3 attr">
                <p>Consequuntur.</p>
            </div>
            <div class="col4 attr">
                <p>Repellat.</p>
            </div>
            <div class="col5 attr">
                <p>Beatae!</p>
            </div>
        </li>
        <li class="table-row">
            <div class="col1 title hover-link"><a href="">Eaque, optio porro?</a></div>
            <div class="col2 attr">
                <p>Ratione?</p>
            </div>
            <div class="col3 attr">
                <p>Voluptas.</p>
            </div>
            <div class="col4 attr">
                <p>Fugit!</p>
            </div>
            <div class="col5 attr">
                <p>Et!</p>
            </div>
        </li>
        <li class="table-row">
            <div class="col1 title hover-link"><a href="">Eum, beatae quasi.</a></div>
            <div class="col2 attr">
                <p>Maxime.</p>
            </div>
            <div class="col3 attr">
                <p>Eius.</p>
            </div>
            <div class="col4 attr">
                <p>Aperiam.</p>
            </div>
            <div class="col5 attr">
                <p>Repellat?</p>
            </div>
        </li>
        <li class="table-row">
            <div class="col1 title hover-link"><a href="">Accusamus, porro iure!</a></div>
            <div class="col2 attr">
                <p>Nulla?</p>
            </div>
            <div class="col3 attr">
                <p>Hic!</p>
            </div>
            <div class="col4 attr">
                <p>Dolor.</p>
            </div>
            <div class="col5 attr">
                <p>Consequuntur!</p>
            </div>
        </li>
        <li class="table-row">
            <div class="col1 title hover-link"><a href="">Odio, unde placeat.</a></div>
            <div class="col2 attr">
                <p>Molestias.</p>
            </div>
            <div class="col3 attr">
                <p>Delectus!</p>
            </div>
            <div class="col4 attr">
                <p>Excepturi.</p>
            </div>
            <div class="col5 attr">
                <p>Quod.</p>
            </div>
        </li>
        <li class="table-row">
            <div class="col1 title hover-link"><a href="">Nisi, qui impedit!</a></div>
            <div class="col2 attr">
                <p>Adipisci!</p>
            </div>
            <div class="col3 attr">
                <p>Reprehenderit!</p>
            </div>
            <div class="col4 attr">
                <p>Qui!</p>
            </div>
            <div class="col5 attr">
                <p>Autem?</p>
            </div>
        </li>
        <li class="table-row">
            <div class="col1 title hover-link"><a href="">Reiciendis, earum laboriosam!</a></div>
            <div class="col2 attr">
                <p>Excepturi.</p>
            </div>
            <div class="col3 attr">
                <p>Aspernatur?</p>
            </div>
            <div class="col4 attr">
                <p>Culpa!</p>
            </div>
            <div class="col5 attr">
                <p>Quos.</p>
            </div>
        </li>
        <li class="table-row">
            <div class="col1 title hover-link"><a href="">Eaque, aut quis.</a></div>
            <div class="col2 attr">
                <p>Tenetur!</p>
            </div>
            <div class="col3 attr">
                <p>Rerum?</p>
            </div>
            <div class="col4 attr">
                <p>Rem!</p>
            </div>
            <div class="col5 attr">
                <p>Non.</p>
            </div>
        </li>

    </ul>
    <div class="paginate-block">
        <div class="paginate-info"></div>
        <div class="paginate-buttons">

        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{% static 'home/js/home.js' %}"></script>
{% endblock javascripts %}