{% extends "layouts/base.html" %}
{% block title %} home page {% endblock title %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static '/home/css/home.css' %}">
{% endblock %}

{% block content %}
<main class="main-content">
    <article>
        <header> 動畫列表 </header>
        <div class="content">
            <p>以更新順序排序</p>
            <div class="table-wrapper">
                <div class="search-bar"></div>
                <div class="table-block">
                    <table class="main-table">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>episodes</th>
                                <th>year</th>
                                <th>season</th>
                                <th>subtitle group</th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            {% for series in series_list %}
                            <tr>
                                <!-- add video link here -->
                                <td><a href="">{{series.name}}</a></td>
                                <td>{{series.episodes}}</td>
                                <td>none</td>
                                <td>{{series.season.season}}</td>
                                {% if series.subtitle_group %}
                                    <td>{{series.subtitle_group}}</td>
                                {% else %}
                                    <td>none</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="table-info">
                        <div class="paginate info">current page is...</div>
                        <div class="paginate button">next page</div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
{% endblock %}