{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/home/css/video.css' %}">
        <link href="//vjs.zencdn.net/7.3.0/video-js.min.css" rel="stylesheet">
        <script src="//vjs.zencdn.net/7.3.0/video.min.js"></script>
        <script src="{% static '/home/js/dash.all.min.js'%}"></script>
        <script type="module" src="{% static '/home/js/videojs-dash.js'%}"></script>
    </head>
    <body onload="setupVideo()">
        <div class="page">
            <div class="topnav">
                <h1>
                    <a href="">Savagetime</a>
                </h1>
                <div class="topnav-right">
                    <a href="">link1</a>
                    <a href="">link2</a>
                </div>
            </div>
            <div class="content flex-item">
                <div class="maincontent">
                    <article>
                        <header>
                          <h1>title</h1>
                          <div>time</div>
                        </header>
                        <video id=example-video width=600 height=300 class="video-js vjs-default-skin" controls> </video>
                        <p>
                          <a href="{{ video_url }}">next ep</a>
                        </p>
                        <p>
                          <a href="">category</a>
                        </p>
                    </article>
                </div>
                <aside class="guide">
                    <section>
                        <form action="/search" method="GET">
                            <input type="search" name="s">
                            <input type="submit" value="search">
                        </form>
                    </section>
                    <section>recent update</section>
                    <section>recent list</section>
                </aside>
            </div>
            <div class="footer">
                <p>@savagetime</p>
            </div>
        </div>
        <script>
            function setupVideo(){
                let player = videojs('example-video');
                player.src({ src: 'http://127.0.0.3:5000/dash/123.mp4/manifest.mpd', type: 'application/dash+xml'});
                
            }
        </script>
    </body>
</html>